@model CheckSeparatorMVC.ViewModels.CheckAndUserViewModel

@{
    ViewData["Title"] = "Product list";
}

<a asp-action="ViewAddProduct" asp-route-CheckId="@Model.Check.CheckId" class="btn btn-primary">Add Product</a>

<form asp-controller="Products" asp-action="SaveChangesInCheck">

    <table>
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Price
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Is selected
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Check.Products is null || Model.Check.Products.Count() == 0)
            {
                <p>
                    There is no products!
                </p>
            }
            else
            {
                @for (int i = 0; i < Model.Check.Products.Count(); i++)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Check.Products[i].Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Check.Products[i].Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Check.Products[i].Amount)
                        </td>
                        <td>
                            @if (Model.Check.Products[i].IsChecked == false)
                            {
                                <input type="checkbox" name="model.Products[@i].IsChecked" value="true" />
                            }
                            else
                            {
                                <input type="checkbox" name="model.Products[@i].IsChecked" value="true" checked />
                            }
                            <input type="hidden" name="model.Products[@i].ProductId" value="@Model.Check.Products[i].ProductId" />
                        </td>
                        <td>
                            <a asp-action="DeleteProduct" asp-route-id="@Model.Check.Products[i].ProductId"> Delete </a> |
                            <a asp-action="EditProduct" asp-route-id="@Model.Check.Products[i].ProductId"> Edit </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <input type="hidden" name="model.CheckId" value="@Model.Check.CheckId" />
    <input type="submit" value="Save changes" class="btn btn-primary" />
</form>

@if (Model.Check.OwnerId == Model.User.Id)
{
    <form asp-action="CalculateCheck">
        <input type="submit" value="Calculate Check" class="btn btn-primary" />
        <input type="hidden" name="CheckId" value="@Model.Check.CheckId">
    </form>
    <form asp-action="ViewAddUserToCheck" asp-route-CheckId="@Model.Check.CheckId">
        <input type="submit" value="Add user to check" class="btn btn-primary"/>
    </form>
}



