@model CheckSeparatorMVC.Models.Check

@{
    ViewData["Title"] = "Product list";
}

<form asp-action="ViewAddProduct">
    <input type="submit" class="btn btn-primary" value="Add Product"/>
    <input type="hidden" name="CheckId" value="@Model.CheckId" />
</form>

<table>
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Amount
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Products is null || Model.Products.Count() == 0)
        {
            <p class="ModelEmpty">
                There is no products!
            </p>
        }
        else
        {
            @foreach (var item in Model.Products)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        <a asp-action="DeleteProduct" asp-route-id="@item.ProductId"> Delete </a> |
                        <a asp-action="EditProduct" asp-route-id="@item.ProductId"> Edit </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<a asp-action="CalculateCheck">Calculate Check</a>
<a asp-action="MakeUrl">Make URL for other people</a>



