@model CheckSeparatorMVC.Models.ProductViewModel
@{
    ViewData["Title"] = "Select Products";
}

<h1>Products</h1>

<form asp-action="ConfirmSelectedProducts" asp-controller="Products">

    <h3>Type your name please.</h3>

    <label>Name</label>
    <input type="text" name="userName" />

    <h3>Select products from the list.</h3>

    <table>
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Price
                </th>
                <th>
                    Amount
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Products is null)
            {
                <p class="ModelEmpty">
                    There is no products!
                </p>
            }
            else
            {
                @foreach (var item in Model.Products)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            <input type="checkbox" name="Name" value="@item.Name" />
                            <input type="hidden" name="Price" value="@item.Price" />
                            <input type="hidden" name="Amount" value="@item.Amount" />
                            <input type="hidden" name="Id" value="@item.Id" />
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <input type="submit" value="Confirm" class="btn btn-primary" onclick="Test();" />
</form>


<a asp-action="Index" class="btn btn-primary">Back to List</a>
