@model CheckSeparatorMVC.Models.ProductViewModel
@{
    ViewData["Title"] = "Select Products";
}

<h1>Products</h1>

<form asp-action="ConfirmSelectedProducts" asp-controller="Products">

    <h3>Type your name please.</h3>

    <label>Name</label>
    <input type="text" name="model.userName" />

    <h3>Select products from the list.</h3>

    <table>
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Price
                </th>
                <th>
                    Amount
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Products is null)
            {
                <p class="ModelEmpty">
                    There is no products!
                </p>
            }
            else
            {
                @for (int i = 0; i < Model.Products.Count; i++)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Products[i].Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Products[i].Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Products[i].Amount)
                        </td>
                        <td>
                            <input type="checkbox" name="model.Products[@i].IsChecked" value="true" />
                            <input type="hidden" name="model.Products[@i].Name" value="@Model.Products[i].Name" />
                            <input type="hidden" name="model.Products[@i].Price" value="@Model.Products[i].Price" />
                            <input type="hidden" name="model.Products[@i].Amount" value="@Model.Products[i].Amount" />
                            <input type="hidden" name="model.Products[@i].Id" value="@Model.Products[i].Id" />
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <input type="submit" value="Confirm" class="btn btn-primary" onclick="Test();" />
</form>


<a asp-action="Index" class="btn btn-primary">Back to List</a>
