@model CheckSeparatorMVC.Models.ProductAndUserViewModel
@{
    ViewData["Title"] = "Select Products";
}

<h1>Products</h1>

<h3>Select products from the list.</h3>

<form asp-for="ConfirmSelectedProducts">
    <select>
        @foreach (var item in Model.Names)
        {
            <option value="@item">@item</option>
        }
    </select>

    <table>
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Price
                </th>
                <th>
                    Amount
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Products is null)
            {
                <p class="ModelEmpty">
                    There is no products!
                </p>
            }
            else
            {
                @foreach (var item in Model.Products)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            <input type="checkbox" />
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <input type="submit" value="Confirm" class="btn btn-primary"/>
</form>


<a asp-action="Index" class="btn btn-primary">Back to List</a>